%h1 Following user timeline
- if @microposts.any?
  = render @microposts
  = will_paginate @microposts, previous_label: '&lt 前へ', next_label: '次へ &gt', params: { controller: :following_user_microposts, action: :index }