%div.form-group
  = form_with(model: @micropost, local: true) do |f|
    %div.field= f.text_area :content, placeholder: "Compose new micropost...", class: "form-control"
    %div.field= f.file_field :image
    = f.submit "Post", class: "btn btn-primary btn-block"