%header.navbar.navbar-fixed-top.navbar-inverse
  %div.container= link_to "Mini blog", root_path, id: "logo"
  %nav
    %div.navbar-header
      /%button{type: "button", class: "navbar-toggle collapsed", data-target: "#bs-example-navbar-collapse-1", aria-expanded: "false"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %ul.nav.navbar-nav.navbar-right.collapse.navbar-collapse#bs-example-navbar-collapse-1
      %li= link_to "Home", root_path 